doctype html
html
  include head.pug
  body
    h1=title
    div(class="container")
      div(id="board", class="board")
      div(id="player" class="player")
        p Current player: <span id="current-player" class="cell">x</span>
        input(type="button" value="Reset board" id="reset")
        p(id="message")
    script(src="/js/board.js")
