doctype html
html
  include head.pug
  body
    h1=title
    div(class="container")
      div(id="board", class="board")
      div(id="player" class="player")
        p You are player: <span id="session-player" class="cell">TBD</span>
        p Current player (next move): <span id="current-player" class="cell">x</span>
        input(type="submit" value="Restart" id="reset")
        p(id="message")
    script(src="/js/board.js")
